<%= provide(:title, @event.description) %>
<h1><%= @event.description %></h1>

Event created by <%= @event.creator.username %><br>
<% if !@event.date.nil? %>
  Date: <%= @event.date %>
<% else %>
  Date is TBA
<% end %>